{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Management</title>
    {% include 'style.html' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
</head>
<body>

    <div
    style=" height: 100vh;
      background-image: url(https://img.freepik.com/free-vector/gradient-grainy-gradient-texture_79603-1642.jpg);
      background-size: absolute;
    ">
    
    <div class="header2 bg-success-gradiant">
        {% include 'navbar.html' %}



    </div>

    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text-center">
                            <h2>gar-coal</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


   

</div>


</body>
</html>