{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Management</title>
    {% include 'style.html' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anony
      mous"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body class="col-md-12">

        {% include 'navbar.html' %}

    <div  class=" container-login100"  
    style=" overflow: hidden ;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/xp-website-9b131.appspot.com/o/assets%2F%23colorful%20%23abstract%20%23iphonewallpaper.png?alt=media&token=c7807f85-7957-46af-ae96-1c5ed7b06623);
    ">
    

    <div class="header_section">
      <br>
      <br>
      <br>
      <br>
      <div class="banner_section layout_padding">
        <div class="container">
          <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row p-5">
                  <div class="col-md-6 p-5">
                    <h1 class="your_text ">GAR-CoAL</h1>
                    <h1 class="Shows_text">Garbage Collection & Analysis</h1>
                    <!-- <p class="there_text">Our recycling management system  collaborate with regional authorities and trash disposal businesses to increase the number of recycling bins in public areas and provide curbside recycling pickup services. This could entail gathering input from stakeholders to create a plan for establishing these services as well as completing a needs assessment to identify the areas that most urgently require extra bins and pickup services.</p> -->
                    <!-- <div class="start_bt"><a href="#">Start Now</a></div>
                    <div class="read_bt"><a href="#">Read More</a></div> -->
                  </div>
                  <div class="col-md-6">
                    <div class=" img-fluid"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/recycle-bin-3715219-3105176.png"></div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
            <div class="banner_section_2">
              <div class="row">
                <div class="col-lg-4" data-aos="fade-up" >
                  <div class="box_main">
                    <div class="internet_icon"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg></div>
                    <h4 class="broadband_text">User</h4>
                    <p class="many_text text-center">the benfits of user</p>
                    <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
                  </div>
                </div>
                <div class="col-lg-4" data-aos="fade-down" data-aos-delay="200">
                  <div class="box_main active">
                    <div class="internet_icon1"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                      <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg></div>
                    <h4 class="broadband_text active">garbage picker</h4>
                    <p class="many_text active text-center">the benfits of garbage picker</p>
                    <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
                  </div>
                </div>
                <div class="col-lg-4 " data-aos="fade-up">
                  <div class="box_main">
                    <div class="internet_icon2"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
                      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                      <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                    </svg></div>
                    <h4 class="broadband_text">Admin</h4>
                    <p class="many_text text-center">the benfits of admins</p>
                    <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <!-- banner section end -->
    </div>



    <div>
      
    <div class="about_section col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="image_2"><img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/xp-website-9b131.appspot.com/o/assets%2F5c471e37f8ab04028c27e08a.png?alt=media&token=a9359a60-48fc-43eb-83ef-9578f3ff829c" data-aos="slide-right" data-aos-delay="500"></div>
          </div>
          <div class="col-md-6 p-5">
            <h1 class="live_text">Door-to-Door Garbage Collection

            </h1>
            <p class="lorem_text"></p>We provide door-to-door garbage collection facility for our users and also give them reward points for the users based on their subscription plans. By the use of this reward points they can redeem their rewards from reward section.
            <div class="online_bt_main">
              <div class="online_bt"><a href="#check">Check</a></div>
              <div class="online_bt1"><a href="#plan">Check plans</a></div>
              <!-- <div class="read_bt1"><a href="#">Read More</a></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- product section start -->

<!-- product section start -->
<div class="product_section ">
  <div class="container">
    <h2 class="tariffs_text" id="plan"></h2>
    <br>
    <br>
    <h1 class="choose_text">Choose your plan</h1>
    <p class="lorem_text1"></p>
    <div class="">
        <div class="row">
          

            
          <div class="col-md-12">
            <div class="row m-auto text-center w-75 col-md-12">
              
      
              <div class="col-lg-4 princing-item red">
                <div class="pricing-divider ">
                    <h3 class="text-light">Basic</h3>
                  <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">Rs.</span> 199 <span class="h5">/month</span></h4>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
              </svg>
                </div>
      
                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-5 position-relative">
                    <li><b>24/7</b> customer care service</li>
                    <li><b>Free</b> Email support</li>
                    <li><b>Garbage size</b> = Large</li>
                    <li><b>10 Reward points/Day</b></li>
                  </ul>
                  <a type="button" href="{% url 'services' %}" class="btn btn-lg btn-block  btn-danger ">Get</a>
                </div>
              </div>
                    
         
              
              
              <div class="col-lg-4 princing-item blue">
                <div class="pricing-divider ">
                    <h3 class="text-light">Mega</h3>
                  <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">Rs.</span> 999 <span class="h5"> /month</span></h4>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
              </svg>
                </div>
      
                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-5 position-relative">
                    <li><b>24/7 </b>Customer care service</li>
                    <li><b>Free</b> Email support</li>
                    <li><b>Garbage size</b> = Medium</li>
                    <li><b>10 Reward points/Day</b></li>
                  </ul>
                  <a type="button" href="{% url 'services' %}" class="btn btn-lg btn-block  btn-danger ">Get</a>
                </div>
              </div>
                    
              
        
              
              
              
              <div class="col-lg-4 princing-item green">
                <div class="pricing-divider ">
                    <h3 class="text-light">Beast</h3>
                  <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">Rs.</span> 1999 <span class="h5">/mth</span></h4>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
              </svg>
                </div>
      
                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-5 position-relative">
                    <li><b>24/7</b> customer care service</li>
                    <li><b>Free</b> Email support</li>
                    <li><b>Garbage size</b> = Large</li>
                    <li><b>20 Reward points/Day</b></li>
                  </ul>
                  <a type="button" href="{% url 'services' %}" class="btn btn-lg btn-block  btn-danger ">Get</a>
                </div>
              </div>
                    
              
              
              
              
              
            </div>
          </div>
    
    


        </div>
    </div>
  </div>
</div>
<!-- product section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
  <div class="container">
    <!-- <h1 class="check_text">Check availability to connect our services in your area</h1> -->
    <div class="contact_section2">
      <div class="addres_main" id="check">
        <form method="POST" class="input_bg">
          {% csrf_token %}
          <h1 class="check_text" data-aos="fade">Check availability to connect our services in your area</h1>
          <h3 class="fact_text">enter your areas pin/zip</h3>
          <input type="number" class="address_text" placeholder="Enter your pin/zip" name="zip_code" maxlength="6">
          <button type="submit" class="get_bt">Check now</button>

          <div>
            <style>
                h5{
                    color: #fff;
                }
            </style>
            {% for message in messages %}
            <h5 class="text-center">{{message}}</h5>
            {% endfor %}
        </div>
          

        </form>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
<!-- contact section end -->
<!-- client section start -->
<div class="client_section layout_padding">
  <div class="container">
    <h1 class="client_taital">What our clients say</h1>
    <div class="client_section2 layout_padding">
      <div class="row">
        <div class="col-md-4">
          <div class="client_image" data-aos="flip-up"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/metaverse-user-login-5360086-4492272.png" height="300px"></div>
        </div>
        <div class="col-md-8">
          <div class="miller_text">Abhi<span class="quote_icon"><img src="https://firebasestorage.googleapis.com/v0/b/xp-website-9b131.appspot.com/o/assets%2Fquote-icon.png?alt=media&token=0be7f0a7-f59e-4c09-8b61-3e09c283574a"></span></div>
          <p class="ipsum_text">As a conscious consumer, I am committed to reducing my carbon footprint and minimizing the waste I generate. However, I quickly realized that it's not easy to handle all the waste on my own, especially when I have a busy schedule. That's where [company name] came in and made all the difference.          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dsfsd -->


<!-- product section start -->
<div class="product_section layout_padding">
<div class="container">
<h1 class="choose_text">by Team RDX </h1>
<h2 class="tariffs_text">team code = PH-273</h2>
<!-- <p class="lorem_text1">team code = </p> -->
<!-- <div class="product_section2">
  <div class="row">
    



  </div>
</div> -->
</div>
</div>





</div>

    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>