{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Management</title>
    {% include 'style.html' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
</head>
<body>
        {% include 'navbar.html' %}

    <div class="container-login100"
    style=" 
      background-image: url(https://firebasestorage.googleapis.com/v0/b/xp-website-9b131.appspot.com/o/assets%2F%23colorful%20%23abstract%20%23iphonewallpaper.png?alt=media&token=c7807f85-7957-46af-ae96-1c5ed7b06623);
    ">

   <!--End Navbar-->
   <div class="container"><div class=" text-center " style="padding: -20px; color: #4e68e8;" >
          <h1>Garbage Pickers</h1>
      </div>
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            {{ m|safe }}
        </div>
    </div>

    
    <form method="POST" class="card shadow border-0 mb-7">
        {% csrf_token %}
        <div class="card-header">
           <h1> user details</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">fathers name</th>
                        <th scope="col">phone</th>
                        <th scope="col">Status</th>
                        <th scope="col">type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_list %}
                    <tr>
                        <input hidden name="user" value="{{user.user}}">
                        <td>
                            <a class="text-heading font-semibold" href="#">
                                {{user.name}}
                            </a>
                        </td>
                        <td>
                            {% if user.gender %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                              </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                              </svg>
                            {% endif %}
                        </td>
                        <td>

                            {{user.fathers_name}}
                        </td>
                        <td>

                            {{user.phone}}
                        </td>
                        <td>

                            {{user.user_status}}
                        </td>
                        <td>
                            <span class="badge badge-lg badge-dot">

                            </span>
                        </td>
                        <td class="btn">
                            <button type="submit" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                Change
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </form>

</div>

</div>

<script
src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"
></script>
</body>
</html>