<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Management</title>
    {% include 'style.html' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    
      {% include 'navbar.html' %}



    <div class=" container-login100" style="background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1072-037-c-kvhh08mp.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d1140632e48f03cd69f599fc6433c00a);" id="login">
      <form method="POST" >
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <span class="login100-form-title">Services </span>
              <span class="login100-form-subtitle m-b-16">
                Add an service for recycling.
              </span>
            </div>
            <div class="col-md-12">
              <div class="wrap-login100">
                <form class="login100-form validate-form">
                  
                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">Name</p>
                    <input class="input100 col-md-10" value="{{user_profile.name}}" type="text" name="user_name" placeholder="Name" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">Phone</p>
                    <input class="input100 col-md-10" value="{{user_profile.phone}}" type="number" name="user_phone" placeholder="phone number" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">Phone 2</p>
                    <input class="input100 col-md-10" type="number" name="user_phone2" placeholder="Another Phone number" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">Stating date</p>
                    <input class="input100 col-md-10" type="date" name="starting_date" placeholder="from date" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">Ending date</p>
                    <input class="input100 col-md-10" type="date" name="ending_date" placeholder="end date"  required />
                  </div>




                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">state</p>
                    <input class="input100 col-md-10" value="{{user_profile.state}}" type="text" name="state" placeholder="State" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">city</p>
                    <input class="input100 col-md-10" value="{{user_profile.city}}" type="text" name="city" placeholder="city" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">zip</p>
                    <input class="input100 col-md-10" value="{{user_profile.zip_code}}" type="text" name="zip_code" placeholder="zip code" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">street</p>
                    <input class="input100 col-md-10" type="text" name="street" placeholder="street" required />
                  </div>

                  <div class=" row col-md-12 p-2">
                    <p class="col-md-2 p-2 text-center">house_no</p>
                    <input class="input100 col-md-10" type="text" name="house_no" placeholder="house_no" required />
                  </div>

                 
                 
                 
                 
                 
                  <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
                  
                  <div class="col-md-12 align-items-center">
                    <button type="submit " class="login100-form-btn col-md-4 float-right" >Add now</button>
                  </div>

                  <br>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
    </form>


    <br>
    <br>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
