
<style>

     @charset "utf-8";

     * {
         /* margin: 0px;
         padding: 0px; */
         box-sizing: border-box
     }

     .limiter {
         width: 100%;
         margin: 0 auto
     }

     .container-login100 {
         width: 100%;
         min-height: 100vh;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         padding: 15px;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         position: relative;
         z-index: 1
     }

     .container-login100::before {
         content: "";
         display: block;
         position: absolute;
         z-index: -1;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         /* background-color: rgba(0, 0, 0, 0.80) */
     }

     .login_topimg {
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         width: 100%;
         min-height: 185px;
         position: relative;
         /* background: #91B3D1 "assets\images\city-waste-recycling-concept-with-garbage-truck-vector-27044990.jpg" no-repeat; */
         background-size: auto;
         background-position: center
     }

     .login_topimg img {
         width: 100%;
         height: auto
     }

     .login_topimg .logo_wrap {
         border-radius: 5px;
         background: #fff;
         padding: 13px 55px;
         position: relative;
         top: -21px;
         margin: 10px auto;
         max-width: 255px
     }

     #login .wrap-login100 {
         background-color: rgba(255, 255, 255, 0.6);
         backdrop-filter: blur(15px);
         border-radius: 5px;
         padding: 20px 45px;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         width: 100%
     }

     .login100-form {
         width: 100%;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap
     }

     .login100-form-title {
         font-size: 25px;
         color: orange;
         line-height: 1.2;
         text-transform: uppercase;
         text-align: center;
         width: 100%;
         display: block
     }

     .login100-form-subtitle {
         font-size: 16px;
         color: #243762;
         line-height: 1.2;
         text-align: center;
         width: 100%;
         display: block
     }

     .wrap-input100 {
         position: relative;
         width: 100%;
         z-index: 1
     }

     #login input {
         outline: none;
         border: none
     }

     #login label {
         display: inline-block;
         margin-bottom: .5rem
     }

     .input-checkbox100 {
         display: none
     }

     input {
         outline: none;
         border: none
     }

     .wrap-input100 {
         position: relative;
         width: 100%;
         z-index: 1
     }

     .input100 {
         font-size: 15px;
         line-height: 1.2;
         /* color: #686868; */
         display: block;
         width: 100%;
         background: #e6e6e6;
         /* background: transparent; */
         height: 45px;
         border-radius: 20px ;
         padding: 0 30px 0 55px
     }

     .focus-input100 {
         display: block;
         position: absolute;
         border-radius: 3px;
         bottom: 0;
         left: 0;
         z-index: -1;
         width: 100%;
         height: 100%;
         box-shadow: 0px 0px 0px 0px;
         color: rgba(211, 63, 141, 0.6)
     }

     .symbol-input100 {
         font-size: 15px;
         color: #999999;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         position: absolute;
         border-radius: 25px;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         padding-left: 23px;
         padding-bottom: 5px;
         pointer-events: none;
         -webkit-transition: all 0.4s;
         -o-transition: all 0.4s;
         -moz-transition: all 0.4s;
         transition: all 0.4s
     }

     /* ::-webkit-input-placeholder {
         opacity: 1;
         -webkit-transition: opacity .5s;
         transition: opacity .5s
     } */

     /* :-moz-placeholder {
         opacity: 1;
         -moz-transition: opacity .5s;
         transition: opacity .5s
     }

     ::-moz-placeholder {
         opacity: 1;
         -moz-transition: opacity .5s;
         transition: opacity .5s
     }

     :-ms-input-placeholder {
         opacity: 1;
         -ms-transition: opacity .5s;
         transition: opacity .5s
     } */

     /* ::placeholder {
         opacity: 1;
         transition: opacity .5s
     } */
/* 
     *:focus::-webkit-input-placeholder {
         opacity: 0
     } */

     /* *:focus:-moz-placeholder {
         opacity: 0
     }

     *:focus::-moz-placeholder {
         opacity: 0
     }

     *:focus:-ms-input-placeholder {
         opacity: 0
     }

     *:focus::placeholder {
         opacity: 0
     } */

     .lnr {
         speak: none;
         font-style: normal;
         font-weight: 400;
         font-variant: normal;
         text-transform: none;
         line-height: 1;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale
     }

     .flex-sb-m {
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         justify-content: space-between;
         -ms-align-items: center;
         align-items: center
     }

     .w-full {
         width: 100%
     }

     .p-b-30 {
         padding-bottom: 30px
     }

     .input-checkbox100:checked+.label-checkbox100::before {
         color: #09569B
     }

     .label-checkbox100::before {
         content: "\f00c";
         font-family: FontAwesome;
         font-size: 13px;
         color: transparent;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         width: 18px;
         height: 18px;
         border-radius: 2px;
         background: #fff;
         border: 1px solid #e6e6e6;
         left: 0;
         top: 50%;
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         transform: translateY(-50%)
     }

     .label-checkbox100 {
         font-size: 14px;
         font-weight: normal;
         color: #999999;
         line-height: 1.2;
         display: block;
         position: relative;
         padding-left: 26px;
         cursor: pointer
     }

     .m-b-16 {
         margin-bottom: 16px
     }

     .p-b-55 {
         padding-bottom: 55px
     }

     .container-login100-form-btn {
         width: 100%;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         /* background-image: url ("assets\images\city-waste-recycling-concept-with-garbage-truck-vector-27044990.jpg"); */
         flex-wrap: wrap;
         justify-content: center
     }

     .login100-form-btn:hover {
         background: #333333
     }

     .label-checkbox100::before {
         content: "\f00c";
         font-family: FontAwesome;
         font-size: 13px;
         color: transparent;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         width: 18px;
         height: 18px;
         border-radius: 3px;
         background: #fff;
         border: 2px solid #09569B;
         left: 0;
         top: 48%;
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         transform: translateY(-50%)
     }

     #login button:hover {
         cursor: pointer
     }

     .login100-form-btn {
         font-size: 16px;
         line-height: 1.5;
         color: #fff;
         text-transform: uppercase;
         width: 100%;
         height: 45px;
         border-radius: 3px;
         background: #09569B;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -ms-flexbox;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 0 25px;
         -webkit-transition: all 0.4s;
         -o-transition: all 0.4s;
         -moz-transition: all 0.4s;
         transition: all 0.4s
     }

     #login button {
         outline: none !important;
         border: none
     }

     @media (max-width: 768px) {
         .container {
             width: 750px
         }

         #login .wrap-login100 {
             padding: 27px
         }

         .login_topimg .logo_wrap {
             padding: 5px 55px
         }
     }






           /* profilecss
            */



            body {
                /* color: #797979;
                background: #f1f2f7; */
                /* background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1072-037-c-kvhh08mp.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d1140632e48f03cd69f599fc6433c00a); */
                font-family: 'Open Sans', sans-serif;
                padding: 0px !important;
                margin: 0px !important;
                font-size: 13px;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                -moz-font-smoothing: antialiased;
            }

            .profile-nav,
            .profile-info {
                margin-top: 30px;
            }

            .profile-nav .user-heading {
                background: #fbc02d;
                color: #fff;
                border-radius: 4px 4px 0 0;
                -webkit-border-radius: 4px 4px 0 0;
                padding: 30px;
                text-align: center;
            }

            .profile-nav .user-heading.round a {
                border-radius: 50%;
                -webkit-border-radius: 50%;
                border: 10px solid rgba(255, 255, 255, 0.3);
                display: inline-block;
            }

            .profile-nav .user-heading a img {
                width: 112px;
                height: 112px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
            }

            .profile-nav .user-heading h1 {
                font-size: 22px;
                font-weight: 300;
                margin-bottom: 5px;
            }

            .profile-nav .user-heading p {
                font-size: 12px;
            }

            .profile-nav ul {
                margin-top: 1px;
            }

            .profile-nav ul>li {
                border-bottom: 1px solid #ebeae6;
                margin-top: 0;
                line-height: 30px;
            }

            .profile-nav ul>li:last-child {
                border-bottom: none;
            }

            .profile-nav ul>li>a {
                border-radius: 0;
                -webkit-border-radius: 0;
                color: #89817f;
                border-left: 5px solid #fff;
            }

            .profile-nav ul>li>a:hover,
            .profile-nav ul>li>a:focus,
            .profile-nav ul li.active a {
                background: #f8f7f5 !important;
                border-left: 5px solid #fbc02d;
                color: #89817f !important;
            }

            .profile-nav ul>li:last-child>a:last-child {
                border-radius: 0 0 4px 4px;
                -webkit-border-radius: 0 0 4px 4px;
            }

            .profile-nav ul>li>a>i {
                font-size: 16px;
                padding-right: 10px;
                color: #bcb3aa;
            }

            .r-activity {
                margin: 6px 0 0;
                font-size: 12px;
            }


            .p-text-area,
            .p-text-area:focus {
                border: none;
                font-weight: 300;
                box-shadow: none;
                color: #c3c3c3;
                font-size: 16px;
            }

            .profile-info .panel-footer {
                background-color: #f8f7f5;
                border-top: 1px solid #e7ebee;
            }

            .profile-info .panel-footer ul li a {
                color: #7a7a7a;
            }

            .bio-graph-heading {
                background: #fbc02d;
                color: #fff;
                text-align: center;
                font-style: italic;
                font-size: 50px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                padding: 40px 110px;
                border-radius: 4px 4px 0 0;
                -webkit-border-radius: 4px 4px 0 0;
                /* font-size: 16px; */
                font-weight: 300;
            }

            .bio-graph-info {
                color: #89817e;
            }

            .bio-graph-info h1 {
                font-size: 22px;
                font-weight: 300;
                margin: 0 0 20px;
            }

            .bio-row {
                width: 50%;
                float: left;
                margin-bottom: 10px;
                padding: 0 15px;
            }

            .bio-row p span {
                width: 100px;
                display: inline-block;
            }

            .bio-chart,
            .bio-desk {
                float: left;
            }

            .bio-chart {
                width: 40%;
            }

            .bio-desk {
                width: 60%;
            }

            .bio-desk h4 {
                font-size: 15px;
                font-weight: 400;
            }

            .bio-desk h4.terques {
                color: #4CC5CD;
            }

            .bio-desk h4.red {
                color: #e26b7f;
            }

            .bio-desk h4.green {
                color: #97be4b;
            }

            .bio-desk h4.purple {
                color: #caa3da;
            }

            .file-pos {
                margin: 6px 0 10px 0;
            }

            .profile-activity h5 {
                font-weight: 300;
                margin-top: 0;
                color: #c3c3c3;
            }

            .summary-head {
                background: #ee7272;
                color: #fff;
                text-align: center;
                border-bottom: 1px solid #ee7272;
            }

            .summary-head h4 {
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            .summary-head p {
                color: rgba(255, 255, 255, 0.6);
            }

            ul.summary-list {
                display: inline-block;
                padding-left: 0;
                width: 100%;
                margin-bottom: 0;
            }

            ul.summary-list>li {
                display: inline-block;
                width: 19.5%;
                text-align: center;
            }

            ul.summary-list>li>a>i {
                display: block;
                font-size: 18px;
                padding-bottom: 5px;
            }

            ul.summary-list>li>a {
                padding: 10px 0;
                display: inline-block;
                color: #818181;
            }

            ul.summary-list>li {
                border-right: 1px solid #eaeaea;
            }

            ul.summary-list>li:last-child {
                border-right: none;
            }

            .activity {
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }

            .activity.alt {
                width: 100%;
                float: right;
                margin-bottom: 10px;
            }

            .activity span {
                float: left;
            }

            .activity.alt span {
                float: right;
            }

            .activity span,
            .activity.alt span {
                width: 45px;
                height: 45px;
                line-height: 45px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                background: #eee;
                text-align: center;
                color: #fff;
                font-size: 16px;
            }

            .activity.terques span {
                background: #8dd7d6;
            }

            .activity.terques h4 {
                color: #8dd7d6;
            }

            .activity.purple span {
                background: #b984dc;
            }

            .activity.purple h4 {
                color: #b984dc;
            }

            .activity.blue span {
                background: #90b4e6;
            }

            .activity.blue h4 {
                color: #90b4e6;
            }

            .activity.green span {
                background: #aec785;
            }

            .activity.green h4 {
                color: #aec785;
            }

            .activity h4 {
                margin-top: 0;
                font-size: 16px;
            }

            .activity p {
                margin-bottom: 0;
                font-size: 13px;
            }

            .activity .activity-desk i,
            .activity.alt .activity-desk i {
                float: left;
                font-size: 18px;
                margin-right: 10px;
                color: #bebebe;
            }

            .activity .activity-desk {
                margin-left: 70px;
                position: relative;
            }

            .activity.alt .activity-desk {
                margin-right: 70px;
                position: relative;
            }

            .activity.alt .activity-desk .panel {
                float: right;
                position: relative;
            }

            .activity-desk .panel {
                background: #F4F4F4;
                display: inline-block;
            }


            .activity .activity-desk .arrow {
                border-right: 8px solid #F4F4F4 !important;
            }

            .activity .activity-desk .arrow {
                border-bottom: 8px solid transparent;
                border-top: 8px solid transparent;
                display: block;
                height: 0;
                left: -7px;
                position: absolute;
                top: 13px;
                width: 0;
            }

            .activity-desk .arrow-alt {
                border-left: 8px solid #F4F4F4 !important;
            }

            .activity-desk .arrow-alt {
                border-bottom: 8px solid transparent;
                border-top: 8px solid transparent;
                display: block;
                height: 0;
                right: -7px;
                position: absolute;
                top: 13px;
                width: 0;
            }

            .activity-desk .album {
                display: inline-block;
                margin-top: 10px;
            }

            .activity-desk .album a {
                margin-right: 10px;
            }

            .activity-desk .album a:last-child {
                margin-right: 0px;
            }


            /* nav barr  */


            
.header2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
    position: flex;
}

.header2.bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.header2 .font-12 {
  font-size: 12px;
}

.header2 .dropdown-item {
  padding: 8px 1rem;
  color: #8d97ad;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link {
  padding: 12px 0px;
  color: #ffffff;
  font-weight: 400;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
  color: #263238;
}

.header2 .h2-nav .navbar-nav .nav-item {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  .header2 .navbar-nav > .dropdown .dropdown-menu {
    min-width: 210px;
    margin-top: 0px;
    position: sticky;
  }
}

@media (min-width: 1024px) {
  .header2 .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.header2 .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1024px) {
  .header2 .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}

.header2 .btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.header2 .btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.header2 .h2-nav .navbar-nav .nav-item .btn {
  opacity: 0.5;
}
 
.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
  opacity: 1;
}

.header2 .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  border-radius: 0.25rem;
  display: none;
}

        /* nav bar ends  */





     /* subscription */


     .bg-gradient {
        background: #C9D6FF;
        background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
        background: linear-gradient(to right, #E2E2E2, #C9D6FF);
        } 
        ul li {
          margin-bottom:1.4rem;
        }
        .pricing-divider {
        border-radius: 20px;
        background: #C64545;
        padding: 1em 0 4em;
        position: relative;
        }
        .blue .pricing-divider{
        background: #2D5772; 
        }
        .green .pricing-divider {
        background: #1AA85C; 
        }
        .red b {
          color:#C64545
        }
        .blue b {
          color:#2D5772
        }
        .green b {
          color:#1AA85C
        }
        .pricing-divider-img {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 80px;
        }
        .deco-layer {
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
        }
        .btn-custom  {
          background:#C64545; color:#fff; border-radius:20px
        }
        
        .img-float {
          width:50px; position:absolute;top:-3.5rem;right:1rem
        }
        
        .princing-item {
          transition: all 150ms ease-out;
        }
        .princing-item:hover {
          transform: scale(1.05);
        }
        .princing-item:hover .deco-layer--1 {
          -webkit-transform: translate3d(15px, 0, 0);
          transform: translate3d(15px, 0, 0);
        }
        .princing-item:hover .deco-layer--2 {
          -webkit-transform: translate3d(-15px, 0, 0);
          transform: translate3d(-15px, 0, 0);
        }
        
        
        


                         /* subscription */



                         /* Reward */


                         .gradient_bgs{

                            background-color: rgba(255, 255, 255, 0.6);
                            backdrop-filter: blur(15px);
                            border-radius: 10px;
                         }
                         .box
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.card
{
    margin-top: 80px;
    height: 300px;
    transition: 0.5s;
    background-color: transparent;
}
.card:hover
{
    border: 1px solid red;
    border-radius: 30px;
}
.card .cardImg
{
    height: 150px;
    width: 90%;
    position: relative;
    top: -50px;
    border-radius: 10px 10px 0 0;
    left: 5%;
}
.card .cardImg img
{
    width: 100%;
    height: 100%;
}

.card .info
{
    text-align: center;
}
.card .info h3
{
    color: rgb(70, 66, 66);
}
.card .info p
{
    color: rgb(41, 201, 49);
}

.ligne
{
    display: flex;
}




      /* Reward */


   /* nav bar  */


   .header_section{
    width: 100%;
    float: left;
    /* background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1072-037-c-kvhh08mp.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d1140632e48f03cd69f599fc6433c00a); */
    height: auto;
    background-size: 100%;
}


.banner_section{
    width: 100%;
    float: left;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: -90px;
    top: 50%;
}

.carousel-control-prev {
    left: 0;
}
#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    color: #fff;
}
#main_slider a.carousel-control-next {
    position: absolute;
    left: -90px;
    top: 75%;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
    border: 3px solid #ffffff;
}




.your_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}


.Shows_text{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
}

.there_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.banner_section_2{
    width: 100%;
    float: left;
    padding-top: 50px;
}


.box_main{
    width: 100%;
    float: left;
    background-color: #000;
    height: auto;
    padding: 30px;
}
.box_main:hover{ background-color: #ffffff; }
.box_main.active{ background-color: #ffffff; }

.internet_icon {
    width: 21%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/internet-icon.png);
    height: 75px;
    background-repeat: no-repeat;
}
.box_main:hover .internet_icon{
    background-image: url(../images/internet-icon1.png);
}

.internet_icon1 {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/television-icon1.png);
    height: 75px;
    background-repeat: no-repeat;
}
.box_main:hover .internet_icon1{
    background-image: url(../images/television-icon1.png);
}
.internet_icon2 {
    width: 21%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/mobile-icon.png);
    height: 75px;
    background-repeat: no-repeat;
}
.box_main:hover .internet_icon2{
    background-image: url(../images/mobile-icon1.png);
}

.broadband_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
}
.box_main h4.active{ color: #000 ; }
.box_main:hover h4{ color: #000 ; }
.box_main:hover .many_text{
     color: #000 ;
}
.box_main .many_text.active{
     color: #000 ;
}

.product_section {
    width: 100%;
    float: left;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/xp-website-9b131.appspot.com/o/assets%2Fproduct-bg.png?alt=media&token=d9640351-d51f-4a18-99e8-95252f404702);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}


.tariffs_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #d72a18;
    font-weight: bold;

}
.choose_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}
.lorem_text1{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.product_section2{
    width: 100%;
    float: left;
    padding-top: 50px;
}
.easy_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #020000;
    text-align: center;
    background-color: #dad8d7;
    padding: 10px 0;
    font-weight: bold;
}
.internet_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #f7f7f8;
    text-align: center;
    background-color: #d72a18;
    padding: 3px 0;
    text-transform: uppercase;
}
.month_main{
    background-color: #f7f7f7;
    padding: 25px 0px;
}
.dolor_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #d72a18;
    text-align: center;
    padding: 3px 0;
    font-weight: bold;
}
.month_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #070201;
    text-align: center;
    font-weight: 600;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.long_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.seemore_main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.see_more{
    width: 100%;
    float: left;
}
.see_more a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    background-color: #ffffff;
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px;
}
.see_more a:hover{
    color: #ffffff;
    background-color: #d72a18;
}
.contact_section {
    width: 100%;
    float: left;
}
.check_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #050400;
    text-align: center;
    font-weight: bold;
}
.contact_section2 {
    width: 100%;
    float: left;
    background-image: url(../images/map-bg.png);
    height: auto;
    background-size: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 90px;
}
.addres_main {
    width: 100%;
    float: left;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/xp-website-9b131.appspot.com/o/assets%2Finput-bg.png?alt=media&token=d5adbcfe-0da2-4fe5-8540-32a2c6708c5a);
    height: 448px;
    background-size: 100%;
    margin-top: 80px;
}
.input_bg {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.fact_text{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.address_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    padding: 5px 200px 5px 30px;
    border-radius: 30px;
    border: 0px;
    background-color: #f7f7f7;
    height: 60px;
    margin-top: 40px;
}

.get_bt {
    width: 25%;
    float: right;
    font-size: 18px;
    color: #ffffff;
    background-color: #000;
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px;
    position: relative;
    top: -56px;
    right: 5px;
}
.client_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.client_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    color: #040100;
    font-weight: bold;
}
.client_section2{
    width: 100%;
    float: left;
}
.client_image{
    width: 100%;
    float: left;
    text-align: center;
}
.miller_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #030305;
    font-weight: 500;
}
.quote_icon{
    float: right;
}
.ipsum_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0b0b0c;
    margin-left: 0px;
}
.subscribe_section{
    width: 100%;
    float: left;
    background-color: #d72a18;
    height: auto;
    padding: 10px 0px;
}
.subscribe_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
}
.mail_main{
    width: 100%;
    float: left;
}
.address_text1 {
    width: 73%;
    float: left;
    font-size: 18px;
    color: #000;
    padding: 10px 20px;
    border-radius: 30px;
    border: 0px;
    background-color: #f7f7f7;
    height: auto;
}

.get_bt1 {
    width: 25%;
    float: right;
    font-size: 18px;
    color: #ffffff;
    background-color: #000;
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px;
}
.footer_section{
    width: 100%;
    float: left;
    background-color: #313131;
    height: auto;
    padding-bottom: 90px;
    border-top: 2px solid #ffffff;
}
.fooer_logo {
    width: 100%;
    float: left;
    padding-bottom: 40px;
}
.customer_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
}

.footer_lorem_text{
    width: 80%;
    float: left;
    font-size: 16px;
    color: #fefefe;
    margin-left: 0px;
}
.footer_lorem_text1{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefe;
    margin-left: 0px;
}
.social_icon{
    width: 100%;
    float: left;
}
.social_icon ul{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}
.social_icon li{
    float: left;
    padding-right: 5px;
}

.margin_top0{
    margin-top: 90px;
}
.online_bt{
    width: 50%;
    float: left;
}
.online_bt a{
    width: 100%;
    float: left;
    font-size: 22px;
    color: #ffffff;
    background-color: #d72a18;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
}
.online_bt a:hover{
    color: #ffffff;
    background-color: #d72a18;
}

.online_bt1{
    width: 50%;
    float: left;
}
.online_bt1 a{
    width: 100%;
    float: left;
    font-size: 22px;
    color: #ffffff;
    background-color: #000;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
}
.online_bt1 a:hover{
    color: #ffffff;
    background-color: #d72a18;
}


            </style>